<div class="page-header">
  <h3>
    {{event.name}} - ends at {{event.end_time | date:' HH:mm MM-dd-yy'}}
  </h3>
    <p>{{event.description}}</p>
</div>

<div ng-repeat="restaurant in event.restaurants | orderBy:'-votes'">
  <span class="glyphicon glyphicon-arrow-up" 
    ng-click="incrementVotes(restaurant)"></span> <!-- will icon work? -->
  <span class="glyphicon glyphicon-arrow-down" 
    ng-click="decrementVotes(restaurant)"></span>
  {{restaurant.votes}}
  <span style="font-size:20px; margin-left:10px;">
    <h1>{{restaurant.name}}</h1>
    {{restaurant.type}} {{restaurant.avg_price}} {{restaurant.location}}
    {{restaurant.votes}}
  </span>
</div>

<form ng-submit="addRestaurant()" style="margin-top:30px;">
  <h3>Add a new restaurant</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="name" ng-model="name"></input>
    <input type="text" class="form-control" placeholder="type" ng-model="type"></input>
    <input type="text" class="form-control" placeholder="location" ng-model="location"></input>
    <input type="text" class="form-control" placeholder="average price" ng-model="avg_price"></input>
  </div>
  <button type="submit" class="btn btn-primary">Create Restaurant</button>
</form>