<div class="page-header">
  <h3>
    <a ng-show="event.link" href="#/events/{{event.id}}">
      {{event.name}}
    </a>
    <span ng-hide="event.link">
      {{event.name}}
    </span>
  </h3>
</div>

<div ng-repeat="restaurant in event.restaurants | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-arrow-up" 
    ng-click="incrementUpvotes(restaurant)"></span> <!-- will icon work? -->
  {{restaurant.upvotes}}
  <span style="font-size:20px; margin-left:10px;">
    {{restaurant.description}}
  </span>
</div>
<form ng-submit="addRestaurant()"
  style="margin-top:30px;">
  <h3>Add a new restaurant</h3>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="restaurant"
    ng-model="body"></input>
  </div>
  <button type="submit" class="btn btn-primary">Event</button>
</form>